table {
    width: 100%;
}

.container-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
        margin: 0;
    }
}