/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr';

* {
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    width: clamp(300px, 100%, 1200px);
    margin: 50px auto 0 auto;
    padding: 0 30px;
}

.full-width {
    width: 100%;
}